<%- include('../includes/header') %>
</head>
<body>
<%- include('../includes/navigation') %>
    <main>
        <%
            if(products.length) {
                %>
                <ul>
                    <%
                        products.forEach(prod => {
                            %>
                            <li>
                                <p> <%= prod.productData.title %> (<%= prod.qty %>)</p>
                                <form action="/cart-delete-item/<%= prod.productData.id %>?_method=DELETE" method="post">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </li>
                    <%
                        })

                    %>
                </ul>
        <%
            } else {
                %>
            <h1>No Products In Cart !</h1>
        <%
            }
        %>
    </main>
<%- include('../includes/footer') %>